{% extends 'base_generic.html' %}
{% block title %}Select Game Mode{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Select Game Mode</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for value, display in form.fields.game_mode.choices %}
            <button type="submit" name="game_mode" value="{{ value }}" class="btn btn-primary mb-2">{{ display }}</button>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
