{% extends "base_generic.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="collage-background">
    <img src="{% static 'tournament_app/images/robot.png' %}" alt="Collage Image 1">
    <img src="{% static 'tournament_app/images/robot.png' %}" alt="Collage Image 2">
    <img src="{% static 'tournament_app/images/robot.png' %}" alt="Collage Image 3">
    <img src="{% static 'tournament_app/images/robot.png' %}" alt="Collage Image 4">
    <img src="{% static 'tournament_app/images/robot.png' %}" alt="Collage Image 5">
    <img src="{% static 'tournament_app/images/robot.png' %}" alt="Collage Image 6">
</div>

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Tournaments App</h1>
    <p class="lead">This is the home page of the Tournaments App.</p>
    <p class="lead">{{ user.username }}</p>
</div>
{% endblock %}
