{% extends "base_generic.html" %}

{% block title %}Create Team{% endblock %}

{% block content %}
<style>
    .form-container {
        max-width: 100%;
        margin-top: 50px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 50px; /* Add bottom margin to avoid overlapping footer */
    }
    .form-group {
        width: 100%;
    }
    label {
        font-weight: bold;
    }
    .form-control {
        width: 100%;
        height: 45px;
        font-size: 16px;
    }
    .btn-primary {
        width: 100%;
        font-size: 18px;
        padding: 10px;
    }
    h2 {
        margin-bottom: 30px;
    }
    .btn-secondary {
        margin-bottom: 20px;
    }
</style>

<button onclick="history.back()" class="btn btn-secondary">Back</button>

<div class="form-container">
    <h2>Create Team for {{ tournament.name }}</h2>
    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create Team</button>
    </form>
</div>
{% endblock %}
