{% extends "base_generic.html" %}

{% block title %}Tournament Details{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <button onclick="history.back()" class="btn btn-secondary">Back</button>
        </div>
        <div class="col-md-6 text-right">
            {% if user.is_authenticated and user == tournament.created_by %}
                <a href="{% url 'game_mode_edit' tournament.id %}" class="btn btn-warning">Edit Game Mode</a>
                <a href="{% url 'tournament_delete' tournament.id %}" class="btn btn-danger">Delete Tournament</a>
            {% endif %}
        </div>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>{{ tournament.name }}</h2>
            {% if user.is_authenticated %}
                <a href="{% url 'team_create' tournament.id %}" class="btn btn-success">Create Team</a>
            {% endif %}
        </div>
        <div class="card-body">
            <p><strong>Tournament Host: </strong> {{ tournament.created_by }}</p>
            <p><strong>Date:</strong> {{ tournament.date }}</p>
            <p><strong>Time:</strong> {{ tournament.time }}</p>
            <p><strong>Location:</strong> {{ tournament.location }}</p>

            {% if tournament.game_mode %}
            <h3>Game Mode Details</h3>
            <p><strong>Game Mode: </strong> {{ tournament.game_mode.name }}</p>
            <p><strong>Description: </strong> {{ tournament.game_mode.description }}</p>
            <p><strong>Event Date: </strong> {{ tournament.game_mode.event_date }}</p>
            <p><strong>Rounds: </strong> {{ tournament.game_mode.rounds }}</p>
            {% if game_mode_details.time_score %}
            <p><strong>Time Score: </strong> {{ game_mode_details.time_score }}</p>
            {% endif %}
            {% endif %}

            {% if user == tournament.created_by %}
            <a href="{% url 'tournament_edit' tournament.id %}" class="btn btn-primary">Edit Tournament</a>
            {% endif %}
            <h3>Teams</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead id="team-table-header">
                        <tr>
                            {% for header in headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="team-table-body">
                        {% for team in tournament.teams.all %}
                        <tr>
                            <td>{{ team.id }}</td>
                            <td>{{ team.name }}</td>
                            {% for header in headers %}
                                {% if header == 'Round' %}
                                    <td>{{ team.rounds }}</td>
                                {% elif header == 'Time Score' %}
                                    <td>{{ team.time_score }}</td>
                                {% elif header == 'Score 1' %}
                                    <td>{{ team.score_one }}</td>
                                {% elif header == 'Score 2' %}
                                    <td>{{ team.score_two }}</td>
                                {% elif header == 'Score 3' %}
                                    <td>{{ team.score_three }}</td>
                                {% elif header == 'Total Score' %}
                                    <td>{{ team.score_one|default:0|add:team.score_two|default:0|add:team.score_three|default:0 }}</td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-right">
                                {% if user == team.created_by and team.members.count < 3 %}
                                <a href="{% url 'player_create' team.id %}" class="btn btn-primary btn-sm mr-2">Add Player</a>
                                {% endif %}
                                <a href="{% url 'team_detail' team.id %}" class="btn btn-info btn-sm">View Team Details</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
