{% extends "base_generic.html" %}
{% load static %}
{% block title %}Tournaments{% endblock %}
{% load custom_filters %}
{% block content %}

<div id="svg-background-wrapper">
    <svg id="svg-background" class="position-absolute" viewBox="0 0 1920 880">
        <g>
          <linearGradient id="svg-gradient" x1="0" x2="1" y1="0" y2="0">
            <stop stop-color="hsl(217, 88%, 33.7%)" offset="0"></stop>
            <stop stop-color="hsl(217, 88%, 75.1%)" offset="1"></stop>
          </linearGradient>
          <path d="" fill="url(#svg-gradient)" opacity="0.4">
            <animate
                     attributeName="d"
                     dur="33s"
                     repeatCount="indefinite"
                     values="M0 0L 0 804.2328934685746Q 320 597.3613372284876  640 571.0708916590191T 1280 512.0661063245175T 1920 301.8788007488083L 1920 0 Z;M0 0L 0 877.6839081951588Q 320 668.0720922803877  640 649.0018928349388T 1280 328.7087077664202T 1920 162.95038242563396L 1920 0 Z;M0 0L 0 724.9886210051687Q 320 661.4364572061575  640 623.2173947479624T 1280 359.20353038907734T 1920 135.51673041732283L 1920 0 Z;M0 0L 0 804.2328934685746Q 320 597.3613372284876  640 571.0708916590191T 1280 512.0661063245175T 1920 301.8788007488083L 1920 0 Z"
                     ></animate>
          </path>
          <path d="" fill="url(#svg-gradient)" opacity="0.4">
            <animate
                     attributeName="d"
                     dur="33s"
                     repeatCount="indefinite"
                     values="M0 0L 0 765.7607191473613Q 320 641.7853945676919  640 624.2534689988059T 1280 365.27264408032966T 1920 190.38947978522663L 1920 0 Z;M0 0L 0 842.1984196370487Q 320 570.6690721707517  640 540.6844954979398T 1280 439.92879442880593T 1920 200.29713960445451L 1920 0 Z;M0 0L 0 796.6802345094818Q 320 721.9216894353016  640 696.8815669355181T 1280 373.6367381440213T 1920 196.63169821789495L 1920 0 Z;M0 0L 0 765.7607191473613Q 320 641.7853945676919  640 624.2534689988059T 1280 365.27264408032966T 1920 190.38947978522663L 1920 0 Z"
                     ></animate>
          </path>
          <path d="" fill="url(#svg-gradient)" opacity="0.4">
            <animate
                     attributeName="d"
                     dur="33s"
                     repeatCount="indefinite"
                     values="M0 0L 0 801.7562714943509Q 320 634.0247183381232  640 605.7090791951217T 1280 503.9393370140325T 1920 224.7551247480177L 1920 0 Z;M0 0L 0 821.0401780336218Q 320 670.8690783540507  640 637.0744123031742T 1280 456.40745286432224T 1920 278.1294357804296L 1920 0 Z;M0 0L 0 744.0534225112256Q 320 637.6425395409125  640 593.2079605185819T 1280 457.03995196824286T 1920 254.87693899994804L 1920 0 Z;M0 0L 0 801.7562714943509Q 320 634.0247183381232  640 605.7090791951217T 1280 503.9393370140325T 1920 224.7551247480177L 1920 0 Z"
                     ></animate>
          </path>
        
        </g>
      </svg>
</div>
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mt-4 mb-3">Tournaments</h1>
    {% if user.is_staff or user.is_superuser %}
    <div class="text-right">
        <a href="{% url 'tournament_create' %}" class="btn btn-success">Create Tournament</a>
    </div>
    {% endif %}
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="d-flex flex-column">
                <div class="form-inline mb-3">
                    <label for="sort" class="mr-2">Sort by:</label>
                    <select id="sort" class="form-control" onchange="sortTournaments()">
                        <option value="date">Tournament Date</option>
                        <option value="name">Tournament Name (A-Z)</option>
                        <option value="host">Host Name (A-Z)</option>
                        <option value="gamemode">Game Mode Type</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-inline-search">
    <input type="text" id="search" class="form-control" placeholder="Search Tournaments..." onkeyup="searchTournaments()">
</div>
<div class="row" id="tournament-container">
    {% for tournament in tournaments %}
    <div class="col-md-4 mb-4 tournament-card" data-name="{{ tournament.name }}" data-date="{{ tournament.date }}" data-host="{{ tournament.created_by }}">
        <div class="card">
            {% if tournament.image %}
                <img src="{{ tournament.image.url }}" class="card-img-top" alt="{{ tournament.name }}">
            {% else %}
                <img src="{% static 'tournament_app/images/usel.png' %}" class="card-img-top" alt="No Image Available">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ tournament.name }}</h5>
                <p class="card-text"><strong>Tournament Host: </strong> {{ tournament.created_by }}</p>
                <p class="card-text"><strong>Date:</strong> {{ tournament.date }}</p>
            
                <p class="card-text"><strong>Location:</strong> {{ tournament.location }}</p>
                {% if tournament.game_mode %}
                <p class="card-text"><strong>Game Mode:</strong> {{ tournament.game_mode }}</p> <!-- Added game mode display -->
                {% endif %}
                <a href="{% url 'tournament_detail' tournament.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function sortTournaments() {
        const container = document.getElementById('tournament-container');
        const cards = Array.from(container.getElementsByClassName('tournament-card'));
        const sortBy = document.getElementById('sort').value;

        cards.sort((a, b) => {
            let aValue, bValue;
            if (sortBy === 'date') {
                aValue = new Date(a.getAttribute('data-date'));
                bValue = new Date(b.getAttribute('data-date'));
            } else if (sortBy === 'name') {
                aValue = a.getAttribute('data-name').toLowerCase();
                bValue = b.getAttribute('data-name').toLowerCase();
            } else if (sortBy === 'host') {
                aValue = a.getAttribute('data-host').toLowerCase();
                bValue = b.getAttribute('data-host').toLowerCase();
            } else if (sortBy === 'gamemode') {
                aValue = a.getAttribute('data-gamemode').toLowerCase();
                bValue = b.getAttribute('data-gamemode').toLowerCase();
            }

            if (aValue < bValue) return -1;
            if (aValue > bValue) return 1;
            return 0;
        });

        cards.forEach(card => container.appendChild(card));
    }

    function searchTournaments() {
        const searchInput = document.getElementById('search').value.toLowerCase();
        const cards = document.querySelectorAll('.tournament-card');

        cards.forEach(card => {
            const name = card.getAttribute('data-name').toLowerCase();
            if (name.includes(searchInput)) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    }
</script>
{% endblock %}
