{% extends 'base_generic.html' %}

{% block title %}Create Tournament{% endblock %}

{% block content %}
<style>
    .form-container {
        max-width: 100%;
        margin-top: 50px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 50px; /* Add bottom margin to avoid overlapping footer */
    }
    .form-group {
        width: 100%;
    }
    label {
        font-weight: bold;
    }
    .form-control {
        width: 100%;
        height: 45px;
        font-size: 16px;
    }
    .btn-primary {
        width: 100%;
        font-size: 18px;
        padding: 10px;
    }
    h2 {
        margin-bottom: 30px;
    }
    .alert {
        padding: 10px;
        margin-top: 20px;
        border-radius: 4px;
    }
    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }
    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }
</style>

{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
<div class="form-container">
    <h2>Create a New Tournament</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create Tournament</button>
    </form>
</div>

{% endblock %}
