.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(145deg, #e2e2e2, #cbddf8); /* Added gradient background */
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 20px 20px 60px #a1a1a1, -20px -20px 60px #ffffff;
    transform: scale(1.02);
}

.card-img-top {
    width: 100%;
    height: 200px; /* Set the height for the image */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body {
    flex: 1; /* This makes the card body expand to fill the remaining space */
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-body > .btn-primary {
    margin-top: auto; /* Pushes the button to the bottom */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.tournament-card {
    animation: fadeIn 0.5s ease-in-out;
}

.form-inline-search {
    margin-bottom: 5%;
}

