{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    .centered-page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #f0f2f5; /* Light background color */
        padding: 5%;
    }
    .form-container {
        max-width: 50%;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .form-group {
        width: 100%;
    }
    label {
        font-weight: bold;
    }
    .form-control {
        width: 100%;
        height: 45px;
        font-size: 16px;
    }
    .btn-primary {
        width: 100%;
        font-size: 18px;
        padding: 10px;
    }
    h2, h1 {
        margin-bottom: 30px;
    }
    .btn-secondary {
        margin-bottom: 20px;
    }
</style>

<div class="centered-page">
    <div class="form-container">
        <h1>{% trans "Sign Out" %}</h1>
        <p>
            {% trans 'Are you sure you want to sign out?' %}
        </p>
        {% url 'account_logout' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            <button type="submit" class="btn btn-primary w-100">{% trans 'Sign Out' %}</button>
        </form>
    </div>
</div>
{% endblock content %}
