{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% load static %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    .centered-page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #f0f2f5; /* Light background color */
        padding: 5%;
    }
    .form-container {
        max-width: 50%;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    h1 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 20px;
    }
</style>

<div class="centered-page">
    <div class="form-container">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% else %}
            <p>
                {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
