{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    .centered-page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #f0f2f5; /* Light background color */
        padding: 5%;
    }
    .form-container {
        max-width: 50%;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    h1 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 20px;
    }
</style>

<div class="centered-page">
    <div class="form-container">
        <h1>{% trans "Change Password" %}</h1>
        <p>
            {% trans 'Your password is now changed.' %}
        </p>
    </div>
</div>
{% endblock content %}
